# Copiá este archivo como .env y completá con tu URL de API Gateway
VITE_API_BASE=https://<api-id>.execute-api.<region>.amazonaws.com/prod
VITE_COGNITO_USER_POOL_ID=<region>_<pool-id>
VITE_COGNITO_CLIENT_ID=<app-client-id>
VITE_AWS_REGION=<region>
